
<section class="page-banner" style="background: #121619 url(images/blog-6.jpg) no-repeat center / ;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="page-title">
                    <h1 class="page-headding">Rezervasiya</h1>
                    <ul>
                        <li><a class="page-name" asp-controller="Home" asp-action="Index">Əsas Səhifə</a></li>
                        <li>Rezervasiya</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--BOOK COMPONENT-->
@await Component.InvokeAsync("Book")
<!--BOOK COMPONENT-->