
<div class="row hall-buttons">
    <div class="col-12">
        <a asp-controller="Hall" asp-action="Rooms" class="btn btn-primary w-100 mb-3" style="height:18em" id="btn-hall-up"><i class="fa fa-angle-up"></i> Yuxarı</a>
    </div>

    <div class="col-12">
        <a asp-controller="Hall" asp-action="Halls" class="btn btn-primary w-100" style="height:18em" id="btn-hall-down"><i class="fa fa-angle-down"></i> Aşağı</a>
    </div>
</div>